<%- include ('../../partials/header.ejs')  %>
<%- include ('../../partials/navbar.ejs')  %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Editar Artigo</h2>
        </div>
        <div class="card-body">
            <form action="/articles/save" method="post">
                <input type="hidden" name="id" value="<%= article.id %>">
                <div class="mb-3">
                    <label for="title" class="form-label">Titulo</label>
                    <input name="title" value="<%= article.title %>" placeholder="Defina o título do artigo" class="form-control">                    
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Categoria</label>
                    <select name="category" class="form-select">
                        <% categories.forEach(c => { %>

                            <% if (c.id == article.categoryId) { %>
                                <option value="<%= c.id %>" selected><%= c.title %></option>
                            <% } else { %>
                            <option value="<%= c.id %>"><%= c.title %></option>
                            <% } %>            


                        <% }) %>
                    </select>
                </div>
                <div class="mb-3">
                    <textarea name="body" id="article" class="form-control" placeholder="Escreva o artigo aqui"></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Atualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include ('../../partials/footer.ejs')  %>

<script src="/tinymce/tinymce.min.js"></script>
<script>

    tinymce.init({
        language: 'pt_BR',
        selector: "#article",
        height: 250,
        plugins: [
            'advlist',
            'autolink',
            'link',
            'image',
            'lists',
            'print',
            'preview',
            'hr',
            'save',
            'table',
            'emoticons'
        ],
        init_instance_callback: () => {
            tinymce.activeEditor.setContent(`<%- article.body %>`)
        }
    })

</script>