<%- include ('../../partials/header.ejs')  %>
<%- include ('../../partials/navbar.ejs')  %>

<div class="container">
    <hr>
    <h2>Categorias</h2>
    <a href="/admin/categories/new" class="btn btn-success">Nova Categoria</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(categorie => { %>
                <tr>
                    <td><%= categorie.id %></td>
                    <td><%= categorie.title %></td>
                    <td><%= categorie.slug %></td>
                    <td>
                        <button class="btn btn-warning">Editar</button>
                        
                        <form method="post" action="/categories/delete/" style="display: inline;">
                            <input type="hidden" name="id" value="<%= categorie.id %>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include ('../../partials/footer.ejs')  %>