<%- include ('../../partials/header.ejs')  %>
<%- include ('../../partials/navbar.ejs')  %>

<div class="container">
    <hr>
    <h2>Categorias</h2>
    <a href="/admin/categories/new" class="btn btn-success">Nova Categoria</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(category => { %>
                <tr>
                    <td><%= category.id %></td>
                    <td><%= category.title %></td>
                    <td><%= category.slug %></td>
                    <td>
                        <a href="/admin/categories/edit/<%= category.id %>" class="btn btn-warning">Editar</a>
                        
                        <form method="post" action="/categories/delete/" style="display: inline;" onsubmit="confirmarDelete(event)">
                            <input type="hidden" name="id" value="<%= category.id %>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include ('../../partials/footer.ejs')  %>
<script>
    const confirmarDelete = (e) => {
        e.preventDefault();

        var decision = confirm("Deseja realmente deletar essa categoria?")

        if (decision) {
            e.target.submit();
        } 
    }
</script>